<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>GitPub App</title>
    </head>
    <body>
        <h1>Welcome to gitPub</h1>
        <ul>
            <% for (let i = 0; i < allDrinks.length; i++) { %>
                <li>
                    <%=allDrinks[i].name[0].toUpperCase()+allDrinks[i].name.slice(1) %>
                </li>
            <% } %>
        </ul>
    </body>
    <style type="text/css">
        body {
            color: blanchedalmond;
            background-color: steelblue;
        }
    </style>
</html>